html {
  background: url(http://usedgrooves.com/wp-content/uploads/2013/09/anigif_enhanced-buzz-7434-1376587963-6.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
