
header, main, footer, .nav-wrapper
  padding-left 220px


@media only screen and (max-width : 992px)
  header, main, footer
    padding-left 0


.parallax-container

a
  #pullup
    i:hover
      color: black


#slide-out
  li:hover
    text-decoration none
    background-color grey


.side-nav
  #first-menu
    margin-top 70px
  li
    margin-bottom 50px
a
  .brand-logo
    padding-left 64px

.projectImgs
  height 180px
  width 180px

.nav-wrapper
  #burger-mobile
    padding-right 25px

#audio-wrapper
  position relative
  width 267px
  height 25px
  overflow hidden
  #inner-audio
    position absolute
    top -276px
    left -5px

#social-links
  text-align center
  li
    display inline
    a
      i
        padding-right 20px
        padding-left 20px
        &:hover
          background-color black
          opacity .5
          color white

.card-title
  font-weight lighter
  font-size 20px

#appear-text
  padding-top 440px
  padding-left 16px
  span
    font-weight bolder
    font-size 34px
