
    header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.parallax-container {
      height: 600px;

    }

nav li a:hover {
  background-color: white;
  color: black;
  opacity: .4;
}

nav li a{
  opacity: .7;

}

.lbtn{
  display: inline-block;
}


li.center-align{
  display: inline;
}

#introbtns li{
  margin: 400px;
  display: inline-block;
}

a#pullup i:hover{
  color: black;
}
